// Grays
// -------------------------
$black:                 #000 !default;
$gray-darker:           #222 !default;
$gray-dark:             #333 !default;
$gray:                  #555 !default;
$gray-light:            #999 !default;
$gray-lighter:          #eee !default;
$white:                 #fff !default;


// Accent colors
// -------------------------
$blue:                  #049cdb !default;
$blue-dark:             #0064cd !default;
$green:                 #46a546 !default;
$red:                   #9d261d !default;
$yellow:                #ffc40d !default;
$orange:                #f89406 !default;
$pink:                  #c3325f !default;
$purple:                #7a43b6 !default;